{% extends 'base.html' %}

{% block title %}Watcher - Actives{% endblock %}
{% load static %}
{% block content %}


    <div class="header container-fluid">
        <table class="table table-borderless table-sm header_h">
            <tbody>
                <tr>
                    <td class="active_name align-middle">
                        <a href="/" ><i class="bi bi-house-door-fill"></i></a>
                    </td>
                    <td class="active_name align-middle">
                        Connected actives
                    </td>
                    <td class="align-middle active_data updater1">
                        Last connect: {{ active_list_menu.last_active }} at {{ active_list_menu.last_metrix_time }}
                    </td>
                    <td class="active_data align-middle">
                        <button type="button" class="btn btn-outline-dark btn-lg" id="autorefresh_button" onclick="refresher()">Refresh ON</button>
                    </td>
                    <td class="active_data align-middle">
                        <a href="{% url 'add_active' %}"><button type="button" class="btn btn-outline-dark btn-lg">ADD ACTIVE</button></a>
                    </td>
                    <td class="active_data align-middle logout">
                        <a href="/accounts/logout/"><button type="button" class="btn btn-outline-dark btn-lg">LOGOUT</button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container2">
        <div class="container-fluid">
            <div class="row updater2">
                {% for iter, active in active_list_render.items %}
                    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
                        <div class="active">
                            <table class="table table-bordered table-sm align-middle metrix_txt">
                                <tr class="tr_color active_txt no_border">
                                    <td colspan="3">
                                        <a href="{% url 'show_active' pk=active.pk %}" ><strong>{{ active.active_name }}</strong></a>
                                    </td>
                                    <td class="logout">
                                        <a href="{% url 'edit_active' pk=active.pk %}"><i class="bi bi-pencil-fill"></i></a>&nbsp;&nbsp;
                                        <a href="{% url 'delete_active' pk=active.pk %}"><i class="bi bi-trash-fill"></i></a>&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>IP</strong>
                                    </td>
                                    <td colspan="3">
                                        {{ active.active_ip }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>HOSTNAME</strong>
                                    </td>
                                    <td colspan="3">
                                        {{ active.active_hostname }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>CONNECT</strong>
                                    </td>
                                    <td colspan="3">
                                        {{ active.active_metrix_created }}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <strong>METRICS</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="onefour_wid">
                                        <strong>CPU AVG</strong>
                                    </td>
                                    <td class="onefour_wid">
                                        {{ active.active_cpu1 }}
                                    </td>
                                    <td class="onefour_wid">
                                        {{ active.active_cpu2 }}
                                    </td>
                                    <td class="onefour_wid">
                                        {{ active.active_cpu3 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>RAM</strong>
                                    </td>
                                    {% if active.active_ram_total == "NO DATA" %}
                                        <td colspan="3">
                                            NO DATA
                                        </td>
                                    {% else %}
                                        <td>
                                            {{ active.active_ram_total|floatformat:3 }}&nbsp;GB
                                        </td>
                                        <td>
                                            {{ active.active_ram_used|floatformat:3 }}&nbsp;GB
                                        </td>
                                        <td>
                                            {{ active.active_ram_percent }}&nbsp;%
                                        </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>
                                        <strong>SWAP</strong>
                                    </td>
                                    {% if active.active_swap_total == "NO DATA" %}
                                        <td colspan="3">
                                            NO DATA
                                        </td>
                                    {% else %}
                                        <td>
                                            {{ active.active_swap_total|floatformat:3 }}&nbsp;GB
                                        </td>
                                        <td>
                                            {{ active.active_swap_used|floatformat:3 }}&nbsp;GB
                                        </td>
                                        <td>
                                            {{ active.active_swap_percent }}&nbsp;%
                                        </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <strong>DISK USAGE</strong>
                                    </td>
                                </tr>
                                <tr>
                                    {% if active.active_rom == "NO DATA" %}
                                        <td colspan="4">
                                            NO DATA
                                        </td>
                                    {% else %}
                                        {% for disk, data in active.active_rom.items %}
                                            <tr>
                                                <td>
                                                    {{ disk }}
                                                </td>
                                                <td>
                                                    {{ data.total|floatformat:3 }}&nbsp;GB
                                                </td>
                                                <td>
                                                    {{ data.used|floatformat:3 }}&nbsp;GB
                                                </td>
                                                <td>
                                                    {{ data.percent }}&nbsp;%
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        function refresher(){
            var refresh_status = document.getElementById('autorefresh_button');
            if (refresh_status.innerText === 'Refresh ON') {
                refresh_status.innerText = 'Refresh OFF';
            }
            else {
                refresh_status.innerText = 'Refresh ON';
            }
        }

        function reload_page(){
            var url = window.location.pathname;
            var xhr = $.get(url);
            xhr.done(function(data, status) {
                let $q = $(data);
                $('.updater1').replaceWith($q.find('.updater1'));
                $('.updater2').replaceWith($q.find('.updater2'));
            });
            xhr.fail(function(){
                $('.updater2').replaceWith('Internal error. Please, try again later');
            });
            xhr.always(function(){
                
            });
            return false;
        }

        setInterval(function(){
            var refresh_status = document.getElementById('autorefresh_button');
            if(refresh_status.innerText === 'Refresh ON') {
                reload_page()
                }
            }, 5000);
    </script>

{% endblock %}