div.container {
    display: flex;
    flex-wrap: wrap;
}
div.header {
    background-color: lightskyblue;
    height: fit-content;
}
.active_name {
    font-size: 50px;
}
.active_data {
    font-size: 25px;
}
div.graf {
    width: 500px;
    height: 400px;
}
div.graf1 {
    width: 500px;
}
div.active {
    width: 380px;
    height: fit-content;
}
a.not_link {
text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}
a:active {
    color: black;
}
.tr_color {
    background: rgb(152, 207, 152); 
}
div.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
div.center {
    margin: 0;
    width: 400px;
}
div.container2 {
    padding: 20px;
}
li i {
    cursor: pointer;
}
td.logout {
    text-align: right;
}
a.whiter {
    color: white;
}
.header_h {
    height: 100%;
}
.table_w {
    width: auto;
}
.active_txt {
    font-size: 14px;
}
.metrix_txt {
    font-size: 12px;
}
.metrix_table_users {
    width: 300px;
}
.metrix_table_network {
    width: 500px;
}
.metrix_table_word {
    word-wrap: break-word;
}
tr.no_border td {
    border: 0;
}
td.onefour_wid {
    width: 25%;
}